<h1>Welcome to my app</h1>
<% if current_user %>
  <p>You are logged in as <%= current_user.name %>.</p>
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Log in", login_path %> or <%= link_to "Sign up", signup_path %>
<% end %>
