/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.intro-banner {
  background-size: cover;
  position: relative;
  color: #fff;
}

.intro-banner::before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-banner > * {
  z-index: 10;
  position: relative;
}

.site-header {
  margin-top: 20px;
}

.about-us {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.7;
  width: 100%;
  max-width: 800px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
}

.form-signup input {
  margin-bottom: 10px;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

header {
  margin-bottom: 50px;
}

.products {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 55px;
}

.products h4 {
  margin-bottom: 30px;
  text-align: center;
}

.single-product {
  padding: 50px 0;
}

.price {
  font-size: 26px;
  font-weight: bold;
}

.input-quantity {
  width: 150px;
}

.input-quantity .form-control {
  border-radius: 0;
}

.input-quantity .btn {
  width: 35px;
  border-radius: 0;
}

.input-quantity .btn-first {
  border-radius: 5px 0 0 5px;
}

.input-quantity .btn-second {
  border-radius: 0 5px 5px 0;
}

footer {
  margin-top: 50px;
}

.added-to-cart-alert {
  display: none;
}

.order {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 70px;
}

.order h3 {
  margin-bottom: 30px;
}